p {
    color: blue;
}



.one {
    color: red;
    /* text-align: justify; */
    /* text-align-last: justify; */
    text-decoration: overline;
    border-style: dotted;
    padding-left: 20px;
    margin-bottom: 40px;

}